- context.instance_eval do
  - selectable_column
  - column :cover do |book|
    - if book.covers.present?
      - image_tag(book.covers.first.image.url, width: 150, height: 200)
    - else
      - image_tag('w500_default.png', width: 150, height: 200)
  - column :category
  - column :title
  - column :authors do |book|
    - book.authors_as_string
  - column :description do |book|
    - t('book.short_description', description: book.short_description)
  - column :price do |book|
    - t('book.price', price: book.price)
  - actions
