.visible-xs.visible-sm
  %h3.general-subtitle.mt-0
    - billing ? t('user_settings.billing') : t('user_settings.shipping')
- billing ? id = @user.addresses.billing.first&.id : id = @user.addresses.shipping.first&.id
= simple_form_for(address, url: (address.kind ? address_path(id) : addresses_path), method: (address.kind ? :patch : :post),
validate: true, html: { class: 'res-mb-100' }, remote: true,
defaults: { input_html: { class: 'form-control' }, wrapper_html: { class: 'form-group' },
label_html: { class: 'control-label input-label' } }) do |f|
  = render 'addresses/form', f: f, current_type: (billing ? Address::TYPES[:billing] : Address::TYPES[:shipping])
  .text-center.general-text-align
    = f.button :submit, t('user_settings.save'), class: 'btn-default'
