- provide(:title, title)
.text-center
  %h3.general-login-title
    = title
  = link_to user_facebook_omniauth_authorize_path, class: 'general-login-icon' do
    %i.fa.fa-facebook-official
  %p.general-login-text
    = t('devise_pages.or')
