.col-sm-3
  %h3.general-subtitle
    = t('checkout.confirm_page.shipments')
  %p.general-address
    = order.delivery_method_name
    = link_to t('checkout.confirm_page.edit_link'), wizard_path(CheckoutStepsController::STEPS[:delivery]), class: 'general-edit' if checkout
