%tr.no-hover
  %th.col-pic.pl-0
    %span.in-grey-600
      = t('cart.page.book.product')
  %th.col-title
  %th.col-price
    %span.in-grey-600
      = t('cart.page.book.price')
  %th.col-quantity
    %span.in-grey-600
      = t('cart.page.book.quantity')
  %th.col-total
    %span.in-grey-600
      = t('cart.page.book.subtotal')
  %th.col-close
