%td{ class: order_item.id.to_s }
  .input-group
    = order_item.minus_quantity_link unless @order.in_progress?
    %input.form-control.quantity-input{ type: 'text', value: order_item.quantity.to_s, readonly: true, min: '1' }
    = order_item.plus_quantity_link unless @order.in_progress?
