%a.dropdown-toggle.lead.small{ href: '#', 'data-toggle': 'dropdown', role: 'button', 'aria-haspopup': 'true', 'aria-expanded': 'false' }
  = presenter.chosen_filter
  %i.fa.fa-angle-down.dropdown-icon.pull-right
%ul.dropdown-menu
  = presenter.all_filters
